/* PC */
@media (min-width: 1024px) {  
}

/* Tablet & Mobile */ 
@media (max-width: 1025px) {
    .social a {
        font-size: 42px;
        padding: 8px;
    }

    .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}
/* Tablet */
@media (max-width: 1023px) and (min-width: 740px) {

}

/* Mobile */
@media (max-width: 740px) {

    .mt-16 {
        margin-top: 16px;
    }

    .s-mt-8 {
        margin-top: 16px;
    }

    .s-col-full, .s-full-width {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #header .search_button {
        display: none;
    }

    #header .menu_button {
        display:flex;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav {
        position: initial; 
        background-color: antiquewhite;
    }

    #nav .subnav li {
        border-bottom: 1px solid black;
    }

    #nav .subnav li a {
        padding-left: 10%;
    }
}